<h1> Sign up Below</h1>
<style>
    h5{
        color: red;
    }
</style>
{% for message in messages %} 
<h5>{{message}}</h5>
{% endfor %}
<form method="post" action="register">
    {% csrf_token %}
    <p>USername:</p>
    <input type="text" name="username"/>
    <p>Email:</p>
    <input type="email" name="email"/>
    <p>Password:</p>
    <input type="password" name="password"/>
    <p>Re enter Password:</p>
    <input type="password" name="pass2"/><br>
    <input type="submit" />
</form>